[
  {
    "ParameterKey": "Certificate",
    "ParameterValue": "arn:aws:acm:xx-xxxxxxxxx-x:xxxxxxxxxxxx:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  },
  {
    "ParameterKey": "HostedZone",
    "ParameterValue": "mydomain.com"
  }
]
